body { text-align: center; font-size: 20px; font-family: sans-serif; }

table { margin: 20px auto; border-spacing: 5px; }
td { padding: 0; }
td.colour { width: 50px; }

input { margin: 0; padding: 10px; border: 0; outline: 0; background: #f4f4f4;
	font-size: 20px; }
input:focus { background: #e8e8e8; }
input.name { width: 300px; }
input.hex { width: 120px; }
input.number { width: 60px; text-align: center; }

.add { display: inline-block; padding: 10px 20px; background: #f4f4f4; }
.add:hover { background: #ccc; color: #fff; cursor: pointer; }
