body { text-align: center; font-size: 0; font-family: sans-serif; }

.header { margin: 20px 0 10px; }
.header div { display: inline-block; margin: 0 3px;
	font-size: 16px; font-weight: bold; }

.row { height: 45px; margin-bottom: 5px; background: #fff; }
.row div, .row input { display: inline-block; height: 45px;
	vertical-align: top; margin: 0 3px; font-size: 20px; }

.handle { width: 50px; }
.colour { width: 60px; visibility: hidden; }
.name { width: 300px; }
.hex { width: 120px; }
.number { width: 60px; }
.delete { width: 50px; }

.name, .hex, .r, .h { margin-left: 6px !important; }
.name, .hex, .b, .v { margin-right: 6px !important; }

input { width: 100%; padding: 10px; box-sizing: border-box; border: 0; 
	outline: 0; background: #f4f4f4; font-size: 20px; }
input:focus { background: #e8e8e8; }
.number { text-align: center; }

.row a { display: block; width: 100%; color: #ddd; text-align: center;
	line-height: 45px; }
.row a:hover { cursor: pointer; }
.handle a:hover { color: #000; }
.delete a:hover { color: #d00; }

.buttons { margin-top: 20px; }
.buttons a { display: inline-block; margin: 0 6px; padding: 10px 15px;
	background: #f4f4f4; line-height: 1.25em; font-size: 20px; }
.buttons a { color: #ccc; }
.buttons a.active { color: #000; }
.buttons a.active:hover { background: #ccc; color: #fff; cursor: pointer; }
